# Database Configuration
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=portfolio_tracker
DB_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Backend Configuration
BACKEND_PORT=3001
NODE_ENV=production
# Connection URL for the backend to connect to postgres
DATABASE_URL=postgresql://postgres:password@postgres:5432/portfolio_tracker?schema=public
REDIS_HOST=redis

# Frontend Configuration
FRONTEND_PORT=80
# API URL for the browser to connect to the backend
VITE_API_URL=http://localhost:3001
