node_modules/
dist/
.env
.DS_Store
*.log
uploads/
backend/venv/
venv/
*.json
!package.json
!package-lock.json
!tsconfig.json
!prisma.config.ts
!eslint.config.mjs
!eslint.config.js
!.prettierrc
!vite.config.ts
!playwright.config.ts
!tsconfig.app.json
!tsconfig.node.json
!*.toml

appdata/
frontend/playwright-report/
frontend/test-results/
