# DB Configuration
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=portfolio_tracker
DB_PORT=5432
DATABASE_URL="postgresql://postgres:password@localhost:5432/portfolio_tracker?schema=public"

# Redis Configuration
REDIS_PORT=6379

# Server Configuration
PORT=3001
NODE_ENV=development
